#discover {
	.container {
		main.current-movie {
			margin-bottom: 5rem;
			.current-movie-info {
				margin-bottom: 5rem;
				background-size: cover;
				background-repeat: no-repeat;
				background-position-x: center;
				min-height: 75vh;
				max-height: 75vh;
				display: flex;
				position: relative;
				-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
				box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
				overflow: hidden;
				img {
					position: absolute;
					height: 100%;
					width: 100%;
					z-index: -1;
					filter: blur(4px);
				}
				.inner {
					background: rgba(0, 0, 0, 0.85);
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 1.5rem;
					.movie {
						width: calc(100% - 30vw);
						padding-right: 8vw;
						color: white;
						h6 {
							text-transform: uppercase;
							opacity: 0.5;
							font-weight: 700;
							margin-bottom: 1rem;
						}
						h1 {
							font-size: 3rem;
							margin-bottom: 1rem;
							line-height: 1.2;
							font-weight: 600;
						}
						.rating {
							display: flex;
							margin-bottom: 2rem;
							.stars {
								i {
									padding-right: 0.5rem;
									&.fas {
										color: $pink;
									}
								}
							}
							span {
								padding-left: 1rem;
							}
						}
						p {
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							margin-bottom: 2rem;
							line-height: 1.8;
							color: #c7c7c7;
						}
						button {
							outline: none;
							background: $pink;
							border: none;
							cursor: pointer;
							font-size: 0.825rem;
							color: $black;
							padding: 0.5rem 1rem;
							border-radius: 4px;
							text-transform: uppercase;
							font-weight: 600;
						}
					}
					.poster {
						height: calc(100% - 15vw);
						width: calc(100% - 70vw);
						min-width: 275px;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
				.toggler {
					position: absolute;
					display: flex;
					right: 1.5rem;
					bottom: 1.5rem;
					width: 85px;
					justify-content: space-between;
					.arrow {
						height: 35px;
						width: 35px;
						border: 2px solid white;
						border-radius: 50%;
						cursor: pointer;
						display: flex;
						align-items: center;
						justify-content: center;
						i {
							color: white;
							font-size: 0.825rem;
						}
						
					}
				}
			}
			.movies {
				// &.loop-scroll {
				// 	&:first-of-type {
				// 		overflow: auto;
				// 		-webkit-overflow-scrolling: touch;
				// 	}
				// }
				.overflow {
					width: 100%;
					height: 100%;
				}

				.swipes {
					height: 100%;
					width: 100%;
					flex-direction: row;
					transition: all 0.5s ease-in-out;
					display: flex;
					will-change: transform;
					.col {
						padding: 0 1.5rem;
						min-width: 375px;
						&:hover {
							.movie {
								opacity: 0.6;
								border: 2px solid white;
								.movie-poster {
									opacity: 1;
								}
								.movie-info {
									h4 {
										opacity: 1;
										color: white;
										text-shadow: 0px 0px 2px white;
									}
								}
							}
						}
						&.active {
							.movie {
								opacity: 1;
								border: 2px solid white;
								.movie-poster {
									opacity: 1;
								}
								.movie-info {
									h4 {
										opacity: 1;
										color: white;
										text-shadow: 0px 0px 2px white;
									}
									button {
										border-color: transparent;
										opacity: 1;
										color: #252525;
										background: $pink;
										outline: none;
									}
								}
							}
						}
						.movie {
							border: 2px solid white;
							opacity: 0.2;
							padding: 1.5rem;
							display: flex;
							border-radius: 8px;
							max-height: 150px;
							min-height: 150px;
							transition: all 0.5s ease-in-out;
							cursor: pointer;
							.movie-poster {
								height: 150px;
								min-width: calc(150px / 1.5);
								background-size: cover;
								background-position: center;
								background-repeat: no-repeat;
								margin-top: -3rem;
								border-radius: 6px;
								-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
								-moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
								box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
								transition: all 0.5s ease-in-out;
							}
							.movie-info {
								padding: 1rem 1rem 1rem 1.5rem;
								min-width: 200px;
								max-width: 200px;
								display: flex;
								flex-direction: column;
								transition: all 0.5s ease-in-out;
								h4 {
									color: white;
									margin-bottom: 0.5rem;
									font-size: 1.2rem;
									line-height: 1.2;
									// opacity: 0.2;
									width: 100%;
									white-space: nowrap;
									overflow: hidden;
									min-height: 25px;
									text-overflow: ellipsis;
									transition: all 0.5s ease-in-out;
									font-weight: 600;
								}
								button {
									background: none;
									outline: none;
									color: white;
									border: 2px solid white;
									padding: 0.5rem 1rem;
									text-transform: uppercase;
									transition: all 0.5s ease-in-out;
									border-radius: 6px;
									max-width: 100px;
									font-weight: 600;
									cursor: pointer;
									font-size: 0.625rem;
									&:hover {
										border-color: transparent;
										opacity: 1;
										color: #252525;
										background: $pink;
									}
								}
							}
						}
					}
				}
			}
		}
		.categories {
			.row {
				margin-bottom: 6rem;
				padding-bottom: 3rem;
				h2 {
					font-size: 1.5rem;
					margin-bottom: 3rem;
					color: white;
					text-shadow: 0px 0px 2px white;
				}
				.movies {
					display: flex;
					overflow-x: scroll;
					border-radius: 8px;
					-ms-overflow-style: none;
					-webkit-overflow-scrolling: touch;
					&::-webkit-scrollbar {
						display: none;
					}
					.col {
						width: 40%;
						min-width: 250px;
						padding: 0 1.5rem;
						display: flex;
						height: 100%;
						justify-content: center;
						cursor: pointer;
						&:first-of-type {
							// padding-left: 0;
						}
						&:last-of-type {
							// padding-right: 0;
						}
						.movie {
							min-height: calc(250px * 1.25);
							width: 100%;
							max-width: 200px;
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
							-moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
							box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.5);
							border-radius: 8px;
							h5 {

							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	#discover {
		.container {
			main.current-movie {
				.current-movie-info {
					img {

					}
					.inner {
						flex-direction: column;
						align-items: initial;
						align-items: flex-end;
						.movie {
							width: 100%;
							padding: 1.5rem 0 0;
							h6 {
							}
							h1 {
								font-size: 2.5rem;
							}
							p {

							}
						}
						.poster {
							max-height: 250px;
							height: 100%;
							min-width: initial;
							min-width: 175px;
							margin-top: -0.5rem;
						}
					}
					.toggler {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.app {
		overflow-x: hidden;
	}
	#discover {
		.container {
			main.current-movie {
				.current-movie-info {
					img {}

					.inner {
						flex-direction: column;
						align-items: initial;
						align-items: flex-end;

						.movie {
							width: 100%;
							padding: 1.5rem 0 0;

							h6 {
								margin-bottom: 1.5rem;
							}

							h1 {
								font-size: 2.25rem;
								margin-bottom: 1.5rem;
							}

							.rating {
								margin-bottom: 3rem;
							}

							p {}
						}

						.poster {
							display: none;
						}
					}
					.toggler {
						display: flex;
					}
				}
				.movies {
					.overflow {
						
						.swipes {

							// overflow:
							.col {}
						}
					}
				}
			}
		}
	}
}