.container {
	max-width: calc(40vw * 2.25);
	margin: 0 auto;
}

body {
	background: #303030;
	max-width: 100vw;
	overflow-x: hidden;
}

body.disable {
	overflow: hidden;
	max-height: 100vh;
}

#navigation {
	padding: 1.5rem;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
	}
	.links {
		display: flex;
		margin-bottom: 2rem;
		a {
			margin: 0 0.5rem;
			padding: 0 0.5rem;
			text-decoration: none;
			color: white;
			position: relative;
			span {
				position: absolute;
				height: 4px;
				width: 4px;
				background: #ff2525;
				left: 50%;
				bottom: -14px;
				border-radius: 4px;
				opacity: 0;
				transition: all 0.4s ease-in-out;
			}
			&.active {
				span {
					opacity: 1;
				}
			}
		}
	}
	form {
		display: flex;
		width: 100%;
		position: relative;
		input {
			font-size: 1rem;
			color: #222222;
			border: none;
			padding: 1rem;
			outline: none;
			border-bottom: 1px solid #222222;
			width: 100%;
			background: rgba(150, 150, 150, 0.13);
			border-radius: 8px;
		}
		img {
			max-width: 35px;
			cursor: pointer;
			position: absolute;
			right: 0.25rem;
			bottom: 15%;
		}
	}
}