#results {
	.container {
		.results {
			display: flex;
			flex-wrap: wrap;
			&::-webkit-scrollbar {
				display: none;
			}
			.col {
				display: flex;
				padding: 1.5rem;
				width: 25%;
				justify-content: center;
				.movie {
					min-width: 250px;
					height: calc(250px * 1.5);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					border-radius: 16px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1.5rem;
					h3 {
						line-height: 1.8;
						text-align: center;
						text-transform: capitalize;
					}
				}
			}
		}
		.no-results {
			font-size: 2rem;
			min-height: 75vh;
			max-height: 75vh;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			text-shadow: 0px 0px 2px white;
			font-weight: 600;
		}
	}
}