#shows {
	.container {
		.list {
			display: flex;
			flex-wrap: wrap;
			.col {
				display: flex;
				padding: 1.5rem;
				width: 25%;
				justify-content: center;
				&:first-of-type {
					padding-left: 0;
				}
				&:last-of-type {
					padding-right: 0;
				}
				.show {
					min-width: 250px;
					height: calc(250px * 1.5);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 16px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1.5rem;
					cursor: pointer;
					h3 {
						line-height: 1.8;
						text-align: center;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}